# Environment variables for the Service Campaign microservice
NODE_ENV=development
APP_NAME=service-campaign
PORT=4003
# URLs for external services
LOKI_URL=http://host.docker.internal:3100
VALKEY_URL=redis://localhost:6379
CACHE_TTL=10000
# Database connection string for Prisma
DATABASE_URL="postgresql://administrator:AbCd1234@localhost:5432/service_campaign"